@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap");
html, body {
  font-family: "Open Sans", sans-serif;
  background-color: #0e1414;
  color: #fff;
}

img {
  width: 100%;
}

h1 {
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1;
  margin-top: 0;
}

h2.be-mindful {
  color: #CF1430;
  font-size: 1em;
  font-weight: 600;
  line-height: 28px;
  margin-top: 4px;
}

h2.tile-title {
  line-height: 30px;
  font-size: 1.2em;
  font-weight: 500;
}

.section-title {
  font-size: 3em;
  text-align: center;
  font-weight: 300;
}

p {
  line-height: 34px;
  font-size: 1em;
  font-weight: 300;
}

p.be-mindful {
  font-size: 1.2em;
  font-weight: 500;
}

.align-items-start {
  min-height: 10rem;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}

section {
  padding: 40px 0;
}
section:after {
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.col {
  flex: 1 0 0%;
}

.mb-1 {
  margin-bottom: 13px;
}

.padding10 {
  padding: 10px;
}

/** Cards **/
.card_image img {
  border-bottom: 4px solid #cf1430;
}
.card_title h2 {
  font-size: 1.12em;
  font-weight: normal;
}
.card_description p {
  line-height: 28px;
}
.card_link a {
  line-height: 10px;
  color: #fff;
  text-decoration: none;
  padding-bottom: 6px;
  border-bottom: 1px solid #cf1430;
}
.card_link a:hover {
  opacity: 0.7;
}

.tile_img {
  cursor: pointer;
}

/**** MODAL *****/
body.modal {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
body.modal:after {
  content: "";
  position: fixed;
  background-color: #0e1414;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.8;
}

.modal-open {
  top: 10%;
  bottom: 50%;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  max-width: 500px;
  z-index: 100;
}
.modal-open img {
  border: 10px solid #fff;
  border-radius: 4px;
}
.modal-open:after {
  content: "Click Image to Close";
  position: absolute;
  top: -30px;
  left: 0px;
  cursor: pointer;
}

.CloseModal {
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 10px;
}

/** MOBILE STYLE **/
@media only screen and (max-width: 414px) {
  .col.img_tiles {
    flex: 1 0 50%;
  }

  .col {
    flex: 1 0 100%;
  }

  .card {
    margin-bottom: 40px;
  }
}